<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>品优购-购你想要</title>
  <link rel="stylesheet" href="/lib/mui/css/mui.css">
  <link rel="stylesheet" href="/lib/font/iconfont.css">
  <link rel="stylesheet" href="/css/comomon.css">
  <link rel="stylesheet" href="/css/index.css">

</head>

<body>
  <header class="pyg_header">
    <div class="mui-input-row mui-search">
      <input type="search" class="mui-input-clear" placeholder="">
    </div>
  </header>
  <div class="pyg_view">
    <div class="sliderHead">
      <div class="mui-slider">
        <!-- 占坑 sliderTemplate -->
      </div>
    </div>
    <nav class="index_nav"></nav>
  </div>
  <footer class="pyg_footer"></footer>

</body>
<script type="text/template" id="sliderTemplate">
  <div class="mui-slider">
    <div class="mui-slider-group mui-slider-loop">
      <!--支持循环，需要重复图片节点-->
      <div class="mui-slider-item mui-slider-item-duplicate">
        <a href="#">
          <img src="{{data[data.length-1].image_src}}" />
        </a>
      </div>
      {{each data value index}}
      <div class="mui-slider-item">
        <a href="#">
          <img src="{{value.image_src}}" />
        </a>
      </div>
      {{/each}}
      <!--支持循环，需要重复图片节点-->
      <div class="mui-slider-item mui-slider-item-duplicate">
        <a href="#">
          <img src="{{data[0].image_src}}" />
        </a>
      </div>
    </div>
    <div class="mui-slider-indicator">
      {{each data value index}}
      {{if index==0}}
      <div class="mui-indicator mui-active"></div>
      {{/if}}
      {{if index!=0}}
      <div class="mui-indicator"></div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</script>

<script src="/lib/zepto/zepto.js"></script>
<script src="/lib/mui/js/mui.js"></script>
<script src="/lib/arttemplate/template-web.js"></script>
<script src="/js/common.js"></script>
<script src="/js/index.js"></script>

</html>