.pyg_view{
  display: flex;
  .left{
    width: .9rem;
    background-color: pink;
    overflow: scroll;
    background-color: #efefef;
    li{
      width: 100%;
      font-size: 0.14rem;
      text-align: center;
      height: 0.4rem;
      line-height: 0.4rem;
      // transition: border-left 1s;
      &.checked{
        background-color: #fff;
        border-left: 0.04rem solid #0094ff;
      }
    }
  }
  .right{
    overflow: scroll;
    background-color: #fff;
    flex: 1;
    // >ul>li{
    //   display: none;
    //   &.checked{
    //     display: block;
    //   }
    // }
    .right_title{
      display: flex;
      padding-right: .12rem;
      // align-items: center;
      h3{
        color: #0094ff;
        font-size: 0.14rem;
        // text-align: center;
        line-height: 1;
        padding: .05rem .06rem .05rem .2rem;
      }
      div{
        flex: 1;
        align-self: center;
        height: 0.01rem;
        background: linear-gradient(90deg,#0094ff,#d3edff);
        // border-bottom: 0.01rem dashed #0094ff;
        margin: auto;
      }
    }
    .right_content{
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          padding: .1rem .05rem;
          width: 33.33%;
          text-align: center;
          img{
            margin: 0 auto;
            width: 50%;
          }
          span{
            font-size: 0.14rem;
          }
        }
      }
      
    }
  }
}