* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
}

body {
  padding: 45px 0 50px;
}

// 分页中的头部样式
.pages_header {
  display: flex;
  align-items: center;
  a {
    font-weight: 600;
    color: #007aff;
    font-size: 18px;
    line-height: 1;
    width: 20%;
    position: relative;
  }
  a:nth-child(1){
    button{
      float: left;
    }
  }
  a:nth-child(3){
    button{
      float: right;
    }
  }
  h2 {
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
}

.pyg_header {
  z-index: 2;
  width: 100%;
  height: 45px;
  background-color: #fff;
  position: fixed;
  padding: 5px 10px;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 8px 0px #999;
}

// 加载层
.mask {
  &.show {
    display: block;
  }
  background-color: rgba(#fff, .7);
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .loading {
    width: .8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
  }
}

.pyg_footer {
  width: 100%;
  height: 50px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  display: flex;
  a {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    span {
      padding-top: 4px;
    }
    .iconfont {
      font-size: 26px;
    }
  }
}

.pyg_view {
  height: 100%;
  overflow: scroll;
}