.view_goods {
  background-color: #fff;
  padding: .06rem;
  .goods_name {
    padding: .08rem 0;
    font-size: .2rem;
  }
  .goods_price {
    padding: .08rem 0;
    font-size: .26rem;
    color: #f40;
    span {
      margin-right: .06rem;
      font-size: .16rem;
    }
  }
  .goods_attr {
    ul li {
      border-bottom: 1px solid #ccc;
      display: flex;
      padding: .04rem 0;
      span {
        font-size: .14rem;
        &:nth-child(1) {
          color: #999;
          width: 30%;
        }
        &:nth-child(2) {
          flex: 1;
        }
      }
    }
  }
  .goods_tab {
    margin-top: .1rem;
    .parameter {
      padding: 10px 0px;
      overflow: scroll;
      &.checked {
        // height: initial;
        height: 400px;
      }
      div {
        width: 96%;
        padding: 8px 18px 12px 18px;
        border-radius: 5px;
        background: #ededed;
        border: 1px solid #ccc;
        font-size: 14px;
        margin: 0 auto;
        color: #666;
        table {
          tr {
            th {
              font-size: 18px;
              color: #000;
              text-align: left;
              line-height: 30px;
            }
            :nth-child(1) {
              width: 32%;
            }
            td {
              // width: 100px;
              line-height: 26px;
              border-bottom: 1px solid #333;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
}

.detail_footer {
  border-top: .02rem solid #ddd;
  .nowBuy {
    background-color: #fa0;
    border-right: .01rem solid #ddd;
    color: #fff;
  }
  .buyCat {
    background-color: #f40;
    color: #fff;
  }
}