.pyg_header {
  box-shadow: initial;
  background-color: initial;
  display: flex;
  justify-content: space-between;
  .mui-search {
    width: 80%;
    &::before{
      position: absolute;
      left: 2px;
      top: 100%;
      transform: translateY(-50%);
    }
    input {
      background-color: #fff;
    }
  }
  .refresh {
    span {
      font-size: .20rem;
    }
  }
  .refresh,
  .seekBtn {
    // flex: 1;
    text-align: center;
    align-self: center;
    color: #0094ff;
  }
}
.seekBox{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 45px;
  z-index: 1;
  background-color: #fff;
}

.goods_nav {
  display: flex;
  top: 45px;
  position: fixed;
  width: 100%;
  a {
    flex: 1;
    font-size: 20px;
    text-align: center;
    color: #0094ff;
    padding: 10px;
    background-color: #fff;
  }
}

body {
  padding-top: 90px;
}

.pyg_view {
  overflow: scroll;
  height: 100%;
  position: relative;
  .goods_list {
    height: 100%;
    overflow: hidden;
    ul li {
      padding-bottom: .04rem;
      position: relative;
      a {
        background-color: #fff;
        display: flex;
        div {
          flex: 1;
        }
        .goods_img {
          // text-align: center;
          img {
            width: 50%; // height: 100%;
            // width: initial;
            margin: auto;
          }
        }
        .goods_content {
          overflow: hidden;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          height: 1.04rem;
          padding-right: .1rem;
          p {
            width: 100%;
            align-self: center;
            font-size: .16rem;
          }
          &::before {
            position: absolute;
            right: .2rem;
            color: #999;
            font-weight: 600;
            top: 50%;
            transform: translateY(-50%);
          }
          .item_title {
            height: .4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; // height: .16rem;
          }
          .item_price {
            color: #f40;
            font-weight: 600; // font-size:
            span {
              font-size: .14rem;
              font-weight: 500;
            }
          }
        }
      }
      .url {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: initial;
      }
    }
  }
}