.pyg_view {
  .index_nav {
    display: flex;
    padding: 0.05rem 0;
    a {
      height: 100%;
      flex: 1;
      img {
        width: 76%;
        margin: 0 auto;
      }
    }
  }
}

.index_goodsList {
  .goods {
    
    padding: 0 0.06rem;
    .goodsTitle {
      margin-bottom: 0.06rem;
    }
    .goodsContent {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      li {
        padding: 0.06rem;
        margin-bottom: 0.06rem;
        background-color: #fff;
        width: 49%;
        .messageImg {
          max-height: 1.92rem;
        }
        .goods_name {
          padding-top: 0.05rem;
          height: .44rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: .16rem;
          color: #000;
          line-height: .2rem;
        }
        .goods_price {
          span {
            font-size: .14rem;
          }
          color: #f40;
          font-size: .18rem;
        }
        .likeness {
          text-align: center;
          // margin-bottom: 10px;
          a {
            display: inline-block;
            width: 70%;
          }
        }
      }
    }
  }
}