
.pyg_view {
  padding-top: .2rem;
  .login_box {
    padding: .1rem;
    #login {
      width: 100%;
      font-size: .20rem;
    }
  }
  .register_box{
    display: flex;
    padding-top: .2rem;
    a{
      flex: 1;
      padding: .01rem .2rem;
      color: #007aff;
      &:nth-child(1){
        text-align: right;
        border-right: .02rem solid #ccc;
      }
    }
  }
}